.world-town-screen > .mod-encounter-manager-container
{
    top: 0rem;
    position: absolute;
    z-index: 9999;
    width: 25rem;
    height: 10rem;
    background-color: #460A0A;
}

.world-town-screen > .l-main-dialog-container .encounter0
{
    position: absolute;
    top: 1.5rem;
    right: 48.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter1
{
    position: absolute;
    top: 1.5rem;
    right: 43.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter2
{
    position: absolute;
    top: 1.5rem;
    right: 53.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter3
{
    position: absolute;
    top: 1.5rem;
    right: 38.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter4
{
    position: absolute;
    top: 1.5rem;
    right: 58.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter5
{
    position: absolute;
    top: 1.5rem;
    right: 32.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter6
{
    position: absolute;
    top: 1.5rem;
    right: 39.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter7
{
    position: absolute;
    top: 1.5rem;
    right: 45.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter8
{
    position: absolute;
    top: 1.5rem;
    right: 51.0rem;
}

.world-town-screen > .l-main-dialog-container .encounter9
{
    position: absolute;
    top: 1.5rem;
    right: 57.0rem;
}